---
layout: archive
title: "Research"
permalink: /research/
redirect_from:
  - /publications/
  - /articles/
author_profile: true
---

This page is currently a work in progress. For a description of my experience as a research assistant, please see <a href="/files/malcolm_certain_cv.pdf" target="_blank" rel="noopener noreferrer">my CV</a>.

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.research reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.research reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



