/*-- scss:defaults --*/

//colors
$light-purple: #EAD3ED;
$dark-purple: #1d002b;
$purple: #49264F;

$link-color: $dark-purple;
$navbar-bg: $light-purple;
$navbar-fg: $purple;
$footer-bg: $light-purple;
$footer-fg: $purple;