/*-- scss:defaults --*/

$font-family-sans-serif: "Computer Modern";
$font-family-monospace: "Computer Modern";
$bs-body-font-family: "Computer Modern";
$web-font-path: "No";

//fonts
@font-face {
  font-display: swap;
  font-family: "Computer Modern";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NewCM10-Regular.otf") format("otf");
}

@font-face {
  font-display: swap;
  font-family: "Computer Modern";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/NewCM10-Italic.otf") format("otf");
}

@font-face {
  font-display: swap;
  font-family: "Computer Modern";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/NewCM10-Bold.otf") format("otf");
}

@font-face {
  font-display: swap;
  font-family: "Computer Modern";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/NewCM10-BoldItalic.otf") format("otf");
}

//colors
$light-purple: #EAD3ED;
$dark-purple: #1d002b;
$purple: #49264F;

$link-color: $dark-purple;
$navbar-bg: $light-purple;
$navbar-fg: $purple;
$footer-bg: $light-purple;
$footer-fg: $purple;